<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>1st Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="" async defer></script>
    </head>
    <body>
        <h1>Hello World !</h1>

        <ul>
            <li>Sai Preetham</li>
            <li>Krishna Chaitanya</li>
            <li>Subhashini</li>
            <li>Venkateswara</li>
        </ul>

        <span><h3>Developed By : $@! **7</h3></span>
    </body>
</html>